#home{
    background-image: url('../../assests/img/background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    height: 100vh;
    width:100vw;

    section{
        background-color: rgba(0,0,0,0.7);
        padding-left: $md;
        padding-right: $md;
        margin-top: $xxlg;
        height:80%;
        width:35%;
    }

    .cube{
        font-size: 8rem;
        color: orange;
    }
    h1{
        font-size: $lg;
        font-weight: 400;
        text-align: center;
        color: white;
    }

    .play-button-container{
        width: 100%;
        margin-top: $lg;
    }

    a.play-button{
        background-color: green;
        color: #fff;
        cursor: pointer;
        display: block;
        border-radius: 30px;
        padding: $nrml 0;
        text-align: center;
        transition: 0.3s linear all;
        
    }
    a.play-button:hover{
        background-color: darken(green,10%);
    }

    .auth-container{
        width: 100%;
        display: flex;
        justify-content: space-around;
        
    }

    #login-button{
        background-color: red;

    }

    #login-button:hover{
        background-color: darken(red,10%);
    }

    #signup-button{
        background-color: blue;
    }

    #signup-button:hover{
        background-color: darken(blue,10%);
    }

    .auth-container .auth-buttons{
        color:#fff;
        cursor: pointer;
        border-radius: 30px;
        padding: $nrml 0;
        text-align: center;
        width: 45%;
        transition: 0.3s linear all;
    }

    .ask-container{
        background-color: white;
        cursor: pointer;
        border-radius: 10px;
        padding: $nrml 0;
        text-align: center;
        width: 100%;
        transition: 0.3s linear all
    }

}